<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Excel 导入</title>
  <link rel="stylesheet" href="./css/site.css">
</head>
<body>
  <div id="app" class="main">
    <h1>Excel 导入</h1>
    <hr>
    <div class="top" id="top">
      <div class="item" v-for="(item,index) in fieldArray" v-on:click="MoveToFoot(index)" v-bind:key="item.id" v-bind:id="item.fieldName">{{ item.fieldText }}</div>

      <div class="black" v-for="black in topBlackNum"></div>
    </div>
    <div class="foot" id="foot">
      <div class="item" v-for="(item,index) in selectFieldArray" @click="MoveToTop(index)" v-bind:key="item.id" v-bind:id="item.fieldName">{{ item.fieldText }}</div>

      <div class="black" v-for="black in footBlackNum"></div>
    </div>
    <form id="mainForm">
      <input type="file" ref="fileSelector" @change="SelectFile" style="display:none;" name="inputfile" id="inputfile">
      <input type="button" :class="{selected: selected}" :value="btnMsg" @click="OpenFile">
      <input type="submit" @click="SubmitForm" value="提交">
    </form>
  </div>
  <script src="./js/vue-2.6.0.js"></script>
  <script src="./js/jquery-1.8.3.min.js"></script>
  <script src="./js/site.js"></script>
</body>
</html>
